-- name: GetAll[[.ResourceNamePlural]] :many
SELECT * FROM [[.TableName]]
ORDER BY created_at DESC;

-- name: Get[[.ResourceNameSingular]]ByID :one
SELECT * FROM [[.TableName]]
WHERE id = ?
LIMIT 1;

-- name: Get[[.ResourceNamePlural]]By[[.ParentReferenceField | camelCase]] :many
SELECT * FROM [[.TableName]]
WHERE [[.ParentReferenceField]] = ?
ORDER BY created_at DESC;

-- name: Create[[.ResourceNameSingular]] :one
INSERT INTO [[.TableName]] (id[[range .Fields]][[if .IsFile]], [[.Name]], [[.Name]]_filename, [[.Name]]_content_type, [[.Name]]_size[[else]], [[.Name]][[end]][[end]], created_at)
VALUES (?[[range .Fields]][[if .IsFile]], ?, ?, ?, ?[[else]], ?[[end]][[end]], ?)
RETURNING *;

-- name: Update[[.ResourceNameSingular]] :exec
UPDATE [[.TableName]]
SET [[range $i, $f := .NonReferenceFields]][[if $i]], [[end]][[if $f.IsFile]][[$f.Name]] = ?, [[$f.Name]]_filename = ?, [[$f.Name]]_content_type = ?, [[$f.Name]]_size = ?[[else]][[$f.Name]] = ?[[end]][[end]]
WHERE id = ?;

-- name: Delete[[.ResourceNameSingular]] :exec
DELETE FROM [[.TableName]]
WHERE id = ?;
