{{define "lvt:skeleton:avatar:v1"}}
<div class="{{.Styles.Root}}" data-skeleton="{{.ID}}">
  <div class="{{.SizeClass}} {{.Styles.Avatar}}"></div>
  {{if .ShowBadge}}
  <div class="{{.Styles.Badge}}"></div>
  {{end}}
</div>
{{end}}
