{{define "lvt:skeleton:card:v1"}}
<div class="{{.Styles.Root}}" data-skeleton="{{.ID}}">
  {{if .ShowImage}}
  <div class="{{.Styles.Image}}" style="height: {{.ImageHeight}}"></div>
  {{end}}

  <div class="{{.Styles.Body}}">
    {{if .ShowTitle}}
    <div class="{{.Styles.TitleLine}}"></div>
    {{end}}

    {{if .ShowDescription}}
    <div class="{{.Styles.DescWrapper}}">
      {{range $i := .DescLineIndices}}
      <div class="{{if $.IsLastDescLine $i}}{{$.Styles.DescLineLast}}{{else}}{{$.Styles.DescLine}}{{end}}"></div>
      {{end}}
    </div>
    {{end}}

    {{if .ShowFooter}}
    <div class="{{.Styles.Footer}}">
      <div class="{{.Styles.FooterAvatar}}"></div>
      <div class="{{.Styles.FooterContent}}">
        <div class="{{.Styles.FooterLine1}}"></div>
        <div class="{{.Styles.FooterLine2}}"></div>
      </div>
    </div>
    {{end}}
  </div>
</div>
{{end}}
