{{define "lvt:skeleton:default:v1"}}
{{if .IsMultiLine}}
<div class="{{.Styles.MultiLineWrap}}" data-skeleton="{{.ID}}">
  {{range .LineIndices}}
  <div
    class="{{$.Styles.Base}} {{$.ShapeClass}} {{$.AnimationClass}}"
    style="width: {{$.Width}}; height: {{$.Height}}"
  ></div>
  {{end}}
</div>
{{else}}
<div
  class="{{.Styles.Base}} {{.ShapeClass}} {{.AnimationClass}}"
  style="width: {{.Width}}; height: {{.Height}}"
  data-skeleton="{{.ID}}"
></div>
{{end}}
{{end}}
