{{define "lvt:menu:nav:v1"}}
<nav class="{{if eq .Orientation "vertical"}}flex flex-col space-y-1{{else}}flex items-center space-x-1{{end}}" data-menu="{{.ID}}" data-nav="true">
  {{range $item := .Items}}
  {{if $item.IsDivider}}
  {{if eq $.Orientation "vertical"}}
  <hr class="{{$.Styles.Divider}}" />
  {{else}}
  <div class="h-6 w-px bg-gray-200"></div>
  {{end}}
  {{else if $item.IsHeader}}
  <div class="{{$.Styles.SectionHeader}}">
    {{$item.Label}}
  </div>
  {{else if $item.IsSubmenu}}
  <div class="relative">
    <button
      type="button"
      class="{{$.Styles.Item}} {{if $item.Active}}{{$.Styles.ItemActive}}{{else}}{{$.Styles.ItemDefault}}{{end}}"
      lvt-click="toggle_submenu_{{$.ID}}"
      lvt-data-submenu="{{$item.ID}}"
      aria-expanded="{{$.IsSubmenuOpen $item.ID}}"
      aria-haspopup="true"
    >
      {{if $item.HasIcon}}<span>{{$item.Icon}}</span>{{end}}
      {{$item.Label}}
      <svg class="{{$.Styles.TriggerIcon}} {{if $.IsSubmenuOpen $item.ID}}{{$.Styles.TriggerIconOpen}}{{end}}" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
    </button>
    {{if $.IsSubmenuOpen $item.ID}}
    <div
      class="{{if eq $.Orientation "vertical"}}pl-4 mt-1 space-y-1{{else}}{{$.Styles.Panel}}{{end}}"
      lvt-click-away="close_submenu_{{$.ID}}"
    >
      {{range $subItem := $item.Items}}
      {{if $subItem.IsLink}}
      <a
        href="{{$subItem.Href}}"
        {{if $subItem.Target}}target="{{$subItem.Target}}"{{end}}
        class="{{$.Styles.Item}} {{if $subItem.Active}}{{$.Styles.ItemActive}}{{else if $subItem.Disabled}}{{$.Styles.ItemDisabled}}{{else}}{{$.Styles.ItemDefault}}{{end}}"
      >
        {{if $subItem.HasIcon}}<span class="mr-2">{{$subItem.Icon}}</span>{{end}}
        {{$subItem.Label}}
      </a>
      {{else}}
      <button
        type="button"
        class="{{$.Styles.Item}} w-full text-left {{if $subItem.Active}}{{$.Styles.ItemActive}}{{else if $subItem.Disabled}}{{$.Styles.ItemDisabled}}{{else}}{{$.Styles.ItemDefault}}{{end}}"
        {{if not $subItem.Disabled}}
        lvt-click="select_{{$.ID}}"
        lvt-data-item="{{$subItem.ID}}"
        {{end}}
        {{if $subItem.Disabled}}disabled{{end}}
      >
        {{if $subItem.HasIcon}}<span class="mr-2">{{$subItem.Icon}}</span>{{end}}
        {{$subItem.Label}}
      </button>
      {{end}}
      {{end}}
    </div>
    {{end}}
  </div>
  {{else if $item.IsLink}}
  <a
    href="{{$item.Href}}"
    {{if $item.Target}}target="{{$item.Target}}"{{end}}
    class="{{$.Styles.Item}} {{if $item.Active}}{{$.Styles.ItemActive}}{{else if $item.Disabled}}{{$.Styles.ItemDisabled}}{{else}}{{$.Styles.ItemDefault}}{{end}}"
    {{if $item.Disabled}}aria-disabled="true"{{end}}
  >
    {{if $item.HasIcon}}<span>{{$item.Icon}}</span>{{end}}
    {{$item.Label}}
    {{if $item.HasBadge}}
    <span class="{{$.Styles.Badge}} {{$.BadgeClass $item.BadgeColor}}">
      {{$item.Badge}}
    </span>
    {{end}}
  </a>
  {{else}}
  <button
    type="button"
    class="{{$.Styles.Item}} {{if $item.Active}}{{$.Styles.ItemActive}}{{else if $item.Disabled}}{{$.Styles.ItemDisabled}}{{else}}{{$.Styles.ItemDefault}}{{end}}"
    {{if not $item.Disabled}}
    lvt-click="select_{{$.ID}}"
    lvt-data-item="{{$item.ID}}"
    {{end}}
    {{if $item.Disabled}}disabled{{end}}
  >
    {{if $item.HasIcon}}<span>{{$item.Icon}}</span>{{end}}
    {{$item.Label}}
    {{if $item.HasBadge}}
    <span class="{{$.Styles.Badge}} {{$.BadgeClass $item.BadgeColor}}">
      {{$item.Badge}}
    </span>
    {{end}}
  </button>
  {{end}}
  {{end}}
</nav>
{{end}}
