{{define "lvt:dropdown:multi:v1"}}
{{$c := .}}
{{template "lvt:dropdown:panel-css"}}
<div class="{{$c.Styles.Root}}" data-dropdown="{{$c.ID}}"
     lvt-el:removeClass:on:click-away="open"
     lvt-el:addClass:on:done="open">
  <button
    type="button"
    class="{{$c.Styles.TriggerBtn}}"
    lvt-el:toggleClass:on:click="open" data-lvt-target="closest:[data-dropdown]"
    {{if $c.Disabled}}disabled{{end}}
    aria-haspopup="listbox"
    aria-multiselectable="true"
  >
    <span class="{{$c.Styles.SelectedText}}">
      {{$c.DisplayText}}
    </span>
    <span class="{{$c.Styles.TriggerIconWrap}}">
      <svg class="{{$c.Styles.TriggerIcon}}" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
    </span>
  </button>

  <div
    class="{{$c.Styles.Dropdown}}"
    data-dropdown-panel
    lvt-focus-trap
    role="listbox"
    aria-multiselectable="true"
  >
    {{if $c.SelectedItems}}
    <div class="{{$c.Styles.Option}}">
      <span>{{len $c.SelectedItems}} selected</span>
      <button
        type="button"
        name="clear_all_{{$c.ID}}"
      >
        Clear all
      </button>
    </div>
    {{end}}
    {{range $c.Options}}
    <label
      class="{{$c.Styles.Option}} {{if .Disabled}}{{$c.Styles.OptionDisabled}}{{end}}"
      role="option"
      {{if .Disabled}}aria-disabled="true"{{end}}
      {{if $c.IsSelected .Value}}aria-selected="true"{{end}}
    >
      <input
        type="checkbox"
        {{if $c.IsSelected .Value}}checked{{end}}
        {{if .Disabled}}disabled{{end}}
        lvt-on:change="toggle_item_{{$c.ID}}"
        data-value="{{.Value}}"
      />
      <span>{{.Label}}</span>
    </label>
    {{end}}
  </div>
</div>
{{end}}
