{{define "lvt:timeline:default:v1"}}
{{$c := .}}
<div
  class="{{if $c.IsHorizontal}}{{$c.Styles.HorizontalRoot}}{{else}}{{$c.Styles.VerticalRoot}}{{end}}"
  data-timeline="{{$c.ID}}"
>
  {{if and $c.IsVertical $c.ShowConnectors}}
  <div class="{{$c.Styles.Connector}}"></div>
  {{end}}

  {{range $index, $item := $c.Items}}
  <div
    class="{{if $c.IsHorizontal}}{{$item.Styles.HorizontalItem}}{{else}}{{$item.Styles.VerticalItem}}{{end}}"
    data-timeline-item="{{$item.ID}}"
  >
    {{if $c.IsVertical}}
    <div
      class="{{$item.Styles.IndicatorVertical}} {{$item.IndicatorClass}} {{$item.RingClass}}"
    >
      {{if $item.HasIcon}}
      <span class="{{$item.Styles.IndicatorIcon}}">{{$item.Icon}}</span>
      {{else if $item.IsComplete}}
      <svg class="{{$item.Styles.CheckIcon}}" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"/>
      </svg>
      {{else}}
      <span class="{{$item.Styles.IndicatorDot}}"></span>
      {{end}}
    </div>

    <div class="{{$item.Styles.ContentVertical}}">
      {{if $item.HasTime}}
      <time class="{{$item.Styles.Time}} {{$item.Styles.TimeVertical}}">{{$item.Time}}</time>
      {{end}}
      {{if $item.HasTitle}}
      <h4 class="{{$item.Styles.Title}}">{{$item.Title}}</h4>
      {{end}}
      {{if $item.HasDescription}}
      <p class="{{$item.Styles.Description}}">{{$item.Description}}</p>
      {{end}}
    </div>
    {{else}}
    <div
      class="{{$item.Styles.IndicatorHoriz}} {{$item.IndicatorClass}} {{$item.RingClass}}"
    >
      {{if $item.HasIcon}}
      <span class="{{$item.Styles.IndicatorIcon}}">{{$item.Icon}}</span>
      {{else if $item.IsComplete}}
      <svg class="{{$item.Styles.CheckIcon}}" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"/>
      </svg>
      {{else}}
      <span class="{{$item.Styles.IndicatorDot}}"></span>
      {{end}}
    </div>
    {{if $c.ShowConnectors}}
    {{if not (eq $index (sub (len $c.Items) 1))}}
    <div class="{{$item.Styles.HorizConnector}}"></div>
    {{end}}
    {{end}}
    <div class="{{$item.Styles.ContentHoriz}}">
      {{if $item.HasTime}}
      <time class="{{$item.Styles.Time}} {{$item.Styles.TimeHoriz}}">{{$item.Time}}</time>
      {{end}}
      {{if $item.HasTitle}}
      <h4 class="{{$item.Styles.TitleHoriz}}">{{$item.Title}}</h4>
      {{end}}
    </div>
    {{end}}
  </div>
  {{end}}
</div>
{{end}}
