module [[.ModuleName]]

go 1.23

require (
	github.com/livetemplate/livetemplate v0.4.2-debug.1
	github.com/go-playground/validator/v10 v10.23.0
	modernc.org/sqlite v1.34.2
)

tool (
	github.com/sqlc-dev/sqlc/cmd/sqlc
)
