-- +goose Up
-- +goose StatementBegin
CREATE TABLE IF NOT EXISTS [[.TableName]] (
  id TEXT PRIMARY KEY,
[[- range .Fields]]
[[- if .IsFile]]
  [[.Name]] TEXT NOT NULL DEFAULT '',
  [[.Name]]_filename TEXT NOT NULL DEFAULT '',
  [[.Name]]_content_type TEXT NOT NULL DEFAULT '',
  [[.Name]]_size INTEGER NOT NULL DEFAULT 0,
[[- else]]
  [[.Name]] [[.SQLType]] NOT NULL,
[[- end]]
[[- end]]
[[- if .WithAuthz]]
  created_by TEXT NOT NULL REFERENCES users(id),
[[- end]]
  created_at DATETIME NOT NULL[[range .Fields]][[if .IsReference]],
  FOREIGN KEY ([[.Name]]) REFERENCES [[.ReferencedTable]](id)[[if .OnDelete]] ON DELETE [[.OnDelete]][[end]][[end]][[end]]
);

[[- range .Fields]]
[[- if .IsReference]]
CREATE INDEX IF NOT EXISTS idx_[[$.TableName]]_[[.Name]] ON [[$.TableName]]([[.Name]]);
[[- end]]
[[- end]]
[[- if .WithAuthz]]
CREATE INDEX IF NOT EXISTS idx_[[.TableName]]_created_by ON [[.TableName]](created_by);
[[- end]]
CREATE INDEX IF NOT EXISTS idx_[[.TableName]]_created_at ON [[.TableName]](created_at);
[[- if .Searchable]]

CREATE VIRTUAL TABLE IF NOT EXISTS [[.TableName]]_fts USING fts5([[range $i, $f := .SearchableFields]][[if $i]], [[end]][[.Name]][[end]], content=[[.TableName]], content_rowid=rowid);

CREATE TRIGGER IF NOT EXISTS [[.TableName]]_ai AFTER INSERT ON [[.TableName]] BEGIN
  INSERT INTO [[.TableName]]_fts(rowid[[range .SearchableFields]], [[.Name]][[end]]) VALUES (new.rowid[[range .SearchableFields]], new.[[.Name]][[end]]);
END;
CREATE TRIGGER IF NOT EXISTS [[.TableName]]_ad AFTER DELETE ON [[.TableName]] BEGIN
  INSERT INTO [[.TableName]]_fts([[.TableName]]_fts, rowid[[range .SearchableFields]], [[.Name]][[end]]) VALUES('delete', old.rowid[[range .SearchableFields]], old.[[.Name]][[end]]);
END;
CREATE TRIGGER IF NOT EXISTS [[.TableName]]_au AFTER UPDATE ON [[.TableName]] BEGIN
  INSERT INTO [[.TableName]]_fts([[.TableName]]_fts, rowid[[range .SearchableFields]], [[.Name]][[end]]) VALUES('delete', old.rowid[[range .SearchableFields]], old.[[.Name]][[end]]);
  INSERT INTO [[.TableName]]_fts(rowid[[range .SearchableFields]], [[.Name]][[end]]) VALUES (new.rowid[[range .SearchableFields]], new.[[.Name]][[end]]);
END;
[[- end]]
-- +goose StatementEnd

-- +goose Down
-- +goose StatementBegin
[[- if .Searchable]]
DROP TRIGGER IF EXISTS [[.TableName]]_au;
DROP TRIGGER IF EXISTS [[.TableName]]_ad;
DROP TRIGGER IF EXISTS [[.TableName]]_ai;
DROP TABLE IF EXISTS [[.TableName]]_fts;
[[- end]]
[[- range .Fields]]
[[- if .IsReference]]
DROP INDEX IF EXISTS idx_[[$.TableName]]_[[.Name]];
[[- end]]
[[- end]]
[[- if .WithAuthz]]
DROP INDEX IF EXISTS idx_[[.TableName]]_created_by;
[[- end]]
DROP INDEX IF EXISTS idx_[[.TableName]]_created_at;
DROP TABLE IF EXISTS [[.TableName]];
-- +goose StatementEnd
