{{define "lvt:datatable:default:v1"}}
{{$dt := .}}{{/* Capture datatable context for use inside range loops */}}
<div class="{{.Styles.Root}}" data-datatable="{{dtID $dt}}">
  {{/* Filter input */}}
  {{if .FilterValue}}{{/* Show filter UI only if filtering is enabled */}}
  <div class="{{.Styles.FilterWrapper}}">
    <input
      type="text"
      class="{{.Styles.FilterInput}}"
      placeholder="Search..."
      value="{{.FilterValue}}"
      lvt-on:input="filter_{{dtID $dt}}"
    />
  </div>
  {{end}}

  {{/* Loading overlay */}}
  {{if .Loading}}
  <div class="{{.Styles.LoadingWrapper}}">
    <svg class="{{.Styles.LoadingIcon}}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>
  </div>
  {{else}}
  <div class="{{.Styles.TableWrapper}}">
    <table class="{{.Styles.Table}}">
      <thead class="{{.Styles.Thead}}">
        <tr>
          {{if and .Selectable .MultiSelect}}
          <th class="w-10 {{.Styles.Th}}">
            <input
              type="checkbox"
              class="{{.Styles.Checkbox}}"
              {{if dtAllSelected $dt}}checked{{end}}
              lvt-on:click="toggle_all_{{dtID $dt}}"
            />
          </th>
          {{end}}
          {{range $col := dtVisibleColumns $dt}}
          <th
            class="{{$dt.Styles.Th}}
              {{if eq (colAlign $col) "center"}}{{$dt.Styles.ThAlignCenter}}{{else if eq (colAlign $col) "right"}}{{$dt.Styles.ThAlignRight}}{{end}}
              {{if colSortable $col}}{{$dt.Styles.ThSortable}}{{end}}"
            {{if colWidth $col}}style="width: {{colWidth $col}}"{{end}}
            {{if colSortable $col}}lvt-on:click="sort_{{dtID $dt}}" data-column="{{colID $col}}"{{end}}
          >
            <span class="{{$dt.Styles.ThContent}} {{if eq (colAlign $col) "center"}}justify-center{{else if eq (colAlign $col) "right"}}justify-end{{end}}">
              {{colLabel $col}}
              {{if colSortable $col}}
              {{if isSortedAsc $dt (colID $col)}}
              <svg class="{{$dt.Styles.SortIcon}}" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd" />
              </svg>
              {{else if isSortedDesc $dt (colID $col)}}
              <svg class="{{$dt.Styles.SortIcon}}" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
              {{else}}
              <svg class="{{$dt.Styles.SortIconIdle}}" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
              {{end}}
              {{end}}
            </span>
          </th>
          {{end}}
        </tr>
      </thead>
      <tbody class="{{.Styles.Tbody}}">
        {{if dtIsEmpty $dt}}
        <tr>
          <td colspan="{{len (dtVisibleColumns $dt)}}{{if and $dt.Selectable $dt.MultiSelect}} + 1{{end}}" class="{{$dt.Styles.EmptyCell}}">
            {{$dt.EmptyMessage}}
          </td>
        </tr>
        {{else}}
        {{range $index, $row := dtPageRows $dt}}
        <tr class="{{if $dt.Striped}}{{if mod $index 2}}{{$dt.Styles.RowStriped}}{{end}}{{end}} {{if $dt.Hoverable}}{{$dt.Styles.RowHover}}{{end}} {{if isRowSelected $row}}{{$dt.Styles.RowSelected}}{{end}}">
          {{if and $dt.Selectable $dt.MultiSelect}}
          <td class="w-10 {{$dt.Styles.Td}}">
            <input
              type="checkbox"
              class="{{$dt.Styles.Checkbox}}"
              {{if isRowSelected $row}}checked{{end}}
              {{if isRowDisabled $row}}disabled{{end}}
              lvt-on:click="toggle_row_{{dtID $dt}}"
              data-row="{{getRowID $row}}"
            />
          </td>
          {{end}}
          {{range $col := dtVisibleColumns $dt}}
          <td class="{{$dt.Styles.Td}} {{if $dt.Compact}}{{$dt.Styles.TdCompact}}{{end}}
            {{if eq (colAlign $col) "center"}}{{$dt.Styles.TdAlignCenter}}{{else if eq (colAlign $col) "right"}}{{$dt.Styles.TdAlignRight}}{{end}}"
            {{if and $dt.Selectable (not $dt.MultiSelect)}}
            lvt-on:click="select_row_{{dtID $dt}}"
            data-row="{{getRowID $row}}"
            {{end}}
          >
            {{getCellValue $row (colID $col)}}
          </td>
          {{end}}
        </tr>
        {{end}}
        {{end}}
      </tbody>
    </table>
  </div>

  {{/* Pagination */}}
  {{if gt (dtPageSize $dt) 0}}
  <div class="{{.Styles.Pagination}}">
    <div class="{{.Styles.PageInfo}}">
      Showing <span class="{{.Styles.PageInfoBold}}">{{dtStartIndex $dt}}</span> to <span class="{{.Styles.PageInfoBold}}">{{dtEndIndex $dt}}</span> of <span class="{{.Styles.PageInfoBold}}">{{dtTotalRows $dt}}</span> results
    </div>
    <div class="flex gap-2">
      <button
        type="button"
        class="{{.Styles.PageBtn}} {{if not (dtHasPrev $dt)}}{{.Styles.PageBtnDisabled}}{{end}}"
        {{if dtHasPrev $dt}}name="prev_page_{{dtID $dt}}"{{else}}disabled{{end}}
      >
        Previous
      </button>
      <button
        type="button"
        class="{{.Styles.PageBtn}} {{if not (dtHasNext $dt)}}{{.Styles.PageBtnDisabled}}{{end}}"
        {{if dtHasNext $dt}}name="next_page_{{dtID $dt}}"{{else}}disabled{{end}}
      >
        Next
      </button>
    </div>
  </div>
  {{end}}
  {{end}}
</div>
{{end}}
