package home

import (
	"encoding/json"
	"log"
	"net/http"
	"os"
	"time"

	"github.com/livetemplate/livetemplate"
)

type HomeState struct {
	Title       string     `json:"title"`
	AppName     string     `json:"app_name"`
	Resources   []Resource `json:"resources"`
	LastUpdated string     `json:"last_updated"`
	CSSFramework string    `json:"-"`
}

type Resource struct {
	Name string `json:"name"`
	Path string `json:"path"`
	Type string `json:"type"`
}

func (s *HomeState) Change(ctx *livetemplate.ActionContext) error {
	// No actions for home page yet
	return nil
}

// Handler creates an http.Handler for the home page
func Handler() http.Handler {
	resources := loadResources()

	state := &HomeState{
		Title:        "[[.AppName]]",
		AppName:      "[[.AppName]]",
		Resources:    resources,
		LastUpdated:  formatTime(),
		CSSFramework: "[[.CSSFramework]]",
	}

	tmpl, err := livetemplate.New("home", livetemplate.WithDevMode([[.DevMode]]))
	if err != nil {
		log.Fatalf("Failed to create template: %v", err)
	}
	return tmpl.Handle(state)
}

func formatTime() string {
	return time.Now().Format("2006-01-02 15:04:05")
}

func loadResources() []Resource {
	data, err := os.ReadFile(".lvtresources")
	if err != nil {
		return []Resource{}
	}

	var resources []Resource
	if err := json.Unmarshal(data, &resources); err != nil {
		return []Resource{}
	}

	return resources
}
