// Package models contains database models.
// This file will be replaced by sqlc-generated code after running migrations.
package models

import "database/sql"

// Queries is a stub that will be replaced by sqlc-generated code
type Queries struct{}

// New creates a new Queries instance (stub implementation)
func New(db *sql.DB) *Queries {
	return &Queries{}
}
