{{define "lvt:datepicker:range:v1"}}
{{template "lvt:datepicker:panel-css"}}
<div class="{{.Styles.Root}}" data-datepicker="{{.ID}}" data-range="true"
     lvt-el:removeClass:on:click-away="open"
     lvt-el:addClass:on:done="open">
  <button
    type="button"
    class="{{.Styles.TriggerBtn}}"
    onclick="var r=this.closest('[data-datepicker]');r.classList.toggle('open');this.setAttribute('aria-expanded',r.classList.contains('open'))"
    aria-haspopup="dialog"
    aria-expanded="false"
  >
    <span class="{{.Styles.TriggerText}}">
      <span class="{{if not .StartDate}}{{.Styles.Placeholder}}{{end}}">{{.DisplayRangeValue}}</span>
      <svg class="{{.Styles.TriggerIcon}}" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
      </svg>
    </span>
  </button>

  <div
    class="{{.Styles.Dropdown}}"
    data-datepicker-panel
    role="dialog"
    aria-modal="true"
    aria-label="Choose date range"
  >
    <p{{if .Styles.HelperText}} class="{{.Styles.HelperText}}"{{end}}>
      {{if .SelectingEnd}}Select end date{{else}}Select start date{{end}}
    </p>
    {{template "lvt:datepicker:calendar" .DatePicker}}
    {{if .StartDate}}
    <div class="{{.Styles.Footer}}">
      <button
        type="button"
        class="{{.Styles.ClearBtn}}"
        name="clear_range_{{.ID}}"
      >
        Clear range
      </button>
    </div>
    {{end}}
  </div>
</div>
{{end}}
