{{define "lvt:datepicker:single:v1"}}
<div class="{{.Styles.Root}}" data-datepicker="{{.ID}}">
  <button
    type="button"
    class="{{.Styles.TriggerBtn}}"
    lvt-click="toggle_datepicker_{{.ID}}"
    aria-haspopup="dialog"
    aria-expanded="{{.Open}}"
  >
    <span class="{{.Styles.TriggerText}}">
      <span class="{{if not .Selected}}{{.Styles.Placeholder}}{{end}}">{{.DisplayValue}}</span>
      <svg class="{{.Styles.TriggerIcon}}" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
      </svg>
    </span>
  </button>

  {{if .Open}}
  <div
    class="{{.Styles.Dropdown}}"
    lvt-click-away="close_datepicker_{{.ID}}"
    role="dialog"
    aria-modal="true"
    aria-label="Choose date"
  >
    {{template "lvt:datepicker:calendar" .}}
  </div>
  {{end}}
</div>
{{end}}

{{define "lvt:datepicker:calendar"}}
<div class="{{.Styles.Calendar}}">
  <div class="{{.Styles.NavWrapper}}">
    <button
      type="button"
      class="{{.Styles.NavBtn}}"
      lvt-click="prev_month_{{.ID}}"
      aria-label="Previous month"
    >
      <svg class="{{.Styles.NavIcon}}" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
      </svg>
    </button>
    <span class="{{.Styles.MonthLabel}}">
      {{.ViewMonth}} {{.ViewYear}}
    </span>
    <button
      type="button"
      class="{{.Styles.NavBtn}}"
      lvt-click="next_month_{{.ID}}"
      aria-label="Next month"
    >
      <svg class="{{.Styles.NavIcon}}" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>

  <div class="{{.Styles.WeekdayGrid}}">
    {{range .WeekdayNames}}
    <div class="{{$.Styles.Weekday}}">{{.}}</div>
    {{end}}
  </div>

  {{range .CalendarWeeks}}
  <div class="{{$.Styles.WeekGrid}}">
    {{range .}}
    <button
      type="button"
      class="{{$.Styles.DayBtn}} {{if not .InMonth}}{{$.Styles.DayOutMonth}}{{else if .IsDisabled}}{{$.Styles.DayDisabled}}{{else if .IsSelected}}{{$.Styles.DaySelected}}{{else if .IsToday}}{{$.Styles.DayToday}}{{else}}{{$.Styles.DayDefault}}{{end}}"
      {{if and .InMonth (not .IsDisabled)}}
      lvt-click="select_date_{{$.ID}}"
      lvt-data-date="{{.DateString}}"
      {{else}}
      disabled
      {{end}}
    >
      {{.Day}}
    </button>
    {{end}}
  </div>
  {{end}}

  <div class="{{.Styles.Footer}}">
    <button
      type="button"
      class="{{.Styles.TodayBtn}}"
      lvt-click="today_{{.ID}}"
    >
      Today
    </button>
    {{if .Selected}}
    <button
      type="button"
      class="{{.Styles.ClearBtn}}"
      lvt-click="clear_date_{{.ID}}"
    >
      Clear
    </button>
    {{end}}
  </div>
</div>
{{end}}
