{{define "lvt:tooltip:default:v1"}}
<div class="{{.Styles.Root}}" data-tooltip="{{.ID}}">
  {{/* Trigger element wrapper */}}
  <div
    {{if .IsHoverTrigger}}
    lvt-mouseenter="show_{{.ID}}"
    lvt-mouseleave="hide_{{.ID}}"
    {{end}}
    {{if .IsFocusTrigger}}
    lvt-focus="show_{{.ID}}"
    lvt-blur="hide_{{.ID}}"
    {{end}}
    {{if .IsClickTrigger}}
    lvt-click="toggle_{{.ID}}"
    {{end}}
  >
    {{/* Slot for trigger content - use nested template */}}
  </div>

  {{/* Tooltip content */}}
  {{if .Visible}}
  <div
    role="tooltip"
    class="{{.Styles.Panel}} {{.PositionClasses}}"
    style="max-width: {{.MaxWidth}}"
  >
    {{.Content}}
    {{if .Arrow}}
    <div class="{{.ArrowClasses}}"></div>
    {{end}}
  </div>
  {{end}}
</div>
{{end}}
