{{/* Statistics display component */}}
{{define "stats"}}
[[- if needsArticle .CSSFramework]]
<article>
[[- else if ne (boxClass .CSSFramework) ""]]
<div class="[[boxClass .CSSFramework]]">
[[- else]]
<div>
[[- end]]
  <p>Total: <strong>{{.TotalCount}}</strong></p>
[[- if needsArticle .CSSFramework]]
</article>
[[- else]]
</div>
[[- end]]
{{end}}
